$color-black = #999

body
    color: $color-black
    background: #001923

body::before
    content: ''
    position: absolute
    width: 400px
    height: 400px
    background: linear-gradient(#ffeb3b, #e91e63)
    border-radius: 50%
    transform: translate(45px, 10px)

body::after
    content: ''
    position: absolute
    width: 350px
    height: 350px
    background: linear-gradient(#2196f3, #83d8ff)
    border-radius: 50%
    transform: translate(936px, -245px)


.card
    background: rgba(255,255,255,0.1)
    border: 1px solid rgba(255,255,255,0.25)
    border-right: 1px solid rgba(255,255,255,0.1)
    border-bottom: 1px solid rgba(255,255,255,0.1)
    backdrop-filter: blur(25px)


    
    